<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbConn"
         connectionString="Data Source=DESKTOP-ONBJ0AK\SQLEXPRESS;
                           Initial Catalog=6xatz;
                           User ID=sa;
                           Password=0000;
                           Integrated Security=False;
                           MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <!-- Allow larger file uploads (up to 5MB) -->
    <httpRuntime maxRequestLength="5120" executionTimeout="300" />
  </system.web>
</configuration>
